<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Blade Link Intercom</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Padauk&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ static_url("bootstrap.min.css")}}">
    <link rel="stylesheet" href="{{ static_url("app.css")}}">




</head>

<body>
    <header class="py-5 ">
        <h1 class="text-center">
            Blade Link
            <span class="text-primary"> Intercom</span>
        </h1>
    </header>
    <div class="border-top py-4">
        <!-- LEDs -->
        <h1>Control de Dispositivos</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="d-flex">
                        <button id="green_on" class="btn btn-success w-25">ON</button>
                        <button id="blue_on" class="btn btn-primary w-25">ON</button>
                        <button id="red_on" class="btn btn-danger w-25">ON</button>
                    </div>
                        
                        <hr>
                        Websocket status:
                        <br>
                        <div id="ws-status"> Waiting... </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="{{ static_url("ws-client.js")}}"></script>
        <script src="{{ static_url("bootstrap.bundle.min.js")}}"></script>

</body>

</html>