<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blade Link Intercom</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Padauk&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ static_url("bootstrap.min.css")}}"> <link
    rel="stylesheet" href="{{ static_url("app.css")}}">
  </head>

  <body>
    <div>
      <h2>TalkLink A</h2>
      <h4>IP: 192.168.155.20</h4>
      <hr />
      <h4 class="mt-3">Reiniciar Dispositivo</h4>
      <button id="reboot" class="btn btn-info w-25 mx-2">Reboot</button>
      <h4 class="mt-2">Color de grupo</h4>
      <div class="d-flex">
        <button id="green_on" class="btn btn-success w-25 mx-2">ON</button>
        <button id="blue_on" class="btn btn-primary w-25 mx-2">ON</button>
        <button id="red_on" class="btn btn-danger w-25 mx-2">ON</button>
        <button id="off" class="btn btn-secondary w-25 mx-2">OFF</button>
      </div>

      <hr />

      <div id="ws-status">Waiting...</div>
    </div>
  </body>
</html>
