<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Blade Link Intercom</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Padauk&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ static_url("bootstrap.min.css")}}">
    <link rel="stylesheet" href="{{ static_url("app.css")}}">




</head>

<body>
    <header class="py-5 ">
        <h1 class="text-center">
            Blade Link
            <span class="text-primary"> Intercom</span>
        </h1>
    </header>
    <div class="border-top py-4">
        <!-- LEDs -->

        <div class="container-xl mt-5">
            <h1>Control de Dispositivos</h1>
            <div class="row  mt-5">
                <h3>Director</h3>
                <div class="col-4 mb-2">
                    <div class="card p-3">
                        <h2>TalkLink Pro</h2>
                        <h4> IP: 192.168.155.25</h4>
                        <hr>
                        <h4 class="mt-2">Volumen</h4>
                        <div class="d-flex">
                            <input type="range" class="w-50 mx-2" id="micRange1">
                            <input type="range" class="w-50 mx-2" id="speakerRange1">
                        </div>
                        <h4 class="mt-2">Color de grupo</h4>
                        <div class="d-flex">
                            <button id="green_on" class="btn btn-success w-25 mx-2">ON</button>
                            <button id="blue_on" class="btn btn-primary w-25 mx-2">ON</button>
                            <button id="red_on" class="btn btn-danger w-25 mx-2">ON</button>
                            <button id="off" class="btn btn-secondary w-25 mx-2">OFF</button>
                        </div>

                        <hr>


                        <div id="ws-status"> Waiting... </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <h3>Estaciones de trabajo</h3>
                <div class="col-4 mb-2">
                    <div class="card p-3">
                        <h2>TalkLink A </h2>
                        <h4> IP: 192.168.155.20</h4>
                        <hr>
                        <h4 class="mt-2">Color de grupo</h4>
                        <div class="d-flex">
                            <button id="green_on" class="btn btn-success w-25 mx-2">ON</button>
                            <button id="blue_on" class="btn btn-primary w-25 mx-2">ON</button>
                            <button id="red_on" class="btn btn-danger w-25 mx-2">ON</button>
                            <button id="off" class="btn btn-secondary w-25 mx-2">OFF</button>
                        </div>

                        <hr>


                        <div id="ws-status-1"> Waiting... </div>
                    </div>
                </div>
                <div class="col-4 mb-2">
                    <div class="card p-3">
                        <h2>TalkLink B</h2>
                        <h4> IP: 192.168.155.21</h4>
                        <hr>
                        <h4 class="mt-2">Color de grupo</h4>
                        <div class="d-flex">
                            <button id="green_on" class="btn btn-success w-25 mx-2">ON</button>
                            <button id="blue_on" class="btn btn-primary w-25 mx-2">ON</button>
                            <button id="red_on" class="btn btn-danger w-25 mx-2">ON</button>
                            <button id="off" class="btn btn-secondary w-25 mx-2">OFF</button>
                        </div>

                        <hr>


                        <div id="ws-status-2"> Waiting... </div>
                    </div>
                </div>
                <div class="col-4 mb-2">
                    <div class="card p-3">
                        <h2>TalkLink C</h2>
                        <h3> IP: 192.168.155.22</h3>
                        <hr>
                        <h4 class="mt-2">Color de grupo</h4>
                        <div class="d-flex">
                            <button id="green_on" class="btn btn-success w-25 mx-2">ON</button>
                            <button id="blue_on" class="btn btn-primary w-25 mx-2">ON</button>
                            <button id="red_on" class="btn btn-danger w-25 mx-2">ON</button>
                            <button id="off" class="btn btn-secondary w-25 mx-2">OFF</button>
                        </div>

                        <hr>


                        <div id="ws-status-3"> Waiting... </div>
                    </div>
                </div>
                <div class="col-4 mb-2">
                    <div class="card p-3">
                        <h2>TalkLink D</h2>
                        <h4> IP: 192.168.155.23</h4>
                        <hr>
                        <h4 class="mt-2">Color de grupo</h4>
                        <div class="d-flex">
                            <button id="green_on" class="btn btn-success w-25 mx-2">ON</button>
                            <button id="blue_on" class="btn btn-primary w-25 mx-2">ON</button>
                            <button id="red_on" class="btn btn-danger w-25 mx-2">ON</button>
                            <button id="off" class="btn btn-secondary w-25 mx-2">OFF</button>
                        </div>

                        <hr>
                        <div id="ws-status-4"> Waiting... </div>
                    </div>
                </div>
                <div class="col-4 mb-2">
                    <div class="card p-3">
                        <h2>TalkLink E</h2>
                        <h4> IP: 192.168.155.24</h4>
                        <hr>
                        <h4 class="mt-2">Color de grupo</h4>
                        <div class="d-flex">
                            <button id="green_on" class="btn btn-success w-25 mx-2">ON</button>
                            <button id="blue_on" class="btn btn-primary w-25 mx-2">ON</button>
                            <button id="red_on" class="btn btn-danger w-25 mx-2">ON</button>
                            <button id="off" class="btn btn-secondary w-25 mx-2">OFF</button>
                        </div>

                        <hr>

                        <div id="ws-status-5"> Waiting... </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <h3>Cámaras</h3>
                <div class="col-3 mb-2">
                    <div class="card p-3">
                        <h2>SpotLink A</h2>
                        <h4> IP: 192.168.155.30</h4>
                        <hr>
                        <h4 class="mt-2">Control Tally</h4>
                        <div class="d-flex">
                            <button id="green_on" class="btn btn-success w-25 mx-2">ON</button>

                            <button id="red_on" class="btn btn-danger w-25 mx-2">ON</button>
                            <button id="off" class="btn btn-secondary w-25 mx-2">OFF</button>
                        </div>

                        <hr>

                        <div id="ws-status-6"> Waiting... </div>
                    </div>
                </div>
                <div class="col-3 mb-2">
                    <div class="card p-3">
                        <h2>SpotLink B</h2>
                        <h4> IP: 192.168.155.31</h4>
                        <hr>
                        <h4 class="mt-2">Control Tally</h4>
                        <div class="d-flex">
                            <button id="green_on" class="btn btn-success w-25 mx-2">ON</button>

                            <button id="red_on" class="btn btn-danger w-25 mx-2">ON</button>
                            <button id="off" class="btn btn-secondary w-25 mx-2">OFF</button>
                        </div>

                        <hr>

                        <div id="ws-status-7"> Waiting... </div>
                    </div>
                </div>
                <div class="col-3 mb-2">
                    <div class="card p-3">
                        <h2>SpotLink C</h2>
                        <h4> IP: 192.168.155.32</h4>
                        <hr>
                        <h4 class="mt-2">Control Tally</h4>
                        <div class="d-flex">
                            <button id="green_on" class="btn btn-success w-25 mx-2">ON</button>

                            <button id="red_on" class="btn btn-danger w-25 mx-2">ON</button>
                            <button id="off" class="btn btn-secondary w-25 mx-2">OFF</button>
                        </div>

                        <hr>

                        <div id="ws-status-8"> Waiting... </div>
                    </div>
                </div>
                <div class="col-3 mb-2">
                    <div class="card p-3">
                        <h2>SpotLink D</h2>
                        <h4>IP: 192.168.155.33</h4>
                        <hr>
                        <h4 class="mt-2">Control Tally</h4>
                        <div class="d-flex">
                            <button id="green_on" class="btn btn-success w-25 mx-2">ON</button>

                            <button id="red_on" class="btn btn-danger w-25 mx-2">ON</button>
                            <button id="off" class="btn btn-secondary w-25 mx-2">OFF</button>
                        </div>

                        <hr>

                        <div id="ws-status-9"> Waiting... </div>
                    </div>
                </div>

            </div>
        </div>



        <footer class="pt-5 mt-5 border-top">
            <div class="container-xl mt-5">
                <p class="mt-5 text-center fs-2">Todos los derechos Reservados. Blade Link Argentina</p>
            </div>
        </footer>


        <!-- Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="{{ static_url("ws-client.js")}}"></script>
        <script src="{{ static_url("bootstrap.bundle.min.js")}}"></script>

</body>

</html>